.App {
  /* text-align: center; */
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meme-card{
  height: 370px;
  width: 350px;
  border: 10px solid rgb(224, 221, 221);
}

img{
  height: 250px;
  width: 350px;
}
