* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightcoral;
  background-size: cover;
  font-family: sans-serif;
}
.header {
  font-size: 1em;
  background-color: transparent;
}
.stats{
  background-color: salmon;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #ebd4cb;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.cards-area {
  display: flex;
  width: 80vw;
  height: 80vh;
  border: 5px solid #53210d;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  cursor: pointer;
  background: rgb(192, 7, 7);
}
.card {
  background: green;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
}

.card {
  /* width: 23%;
  height: 23%;
  margin: 5px;
 
  cursor: pointer;
  background-color: transparent; */
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color: #807f7f;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
