* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  padding: 10px 30px;
  background-color: #365344;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #99bdaa;
}

.card {
  width: 340px;
  height: 360px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.item-image > img {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}

.card-body {
  padding: 0 10px 0 10px;
}

.card-title {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-description {
  margin: 10px 0 10px 0;
  color: gray;
}

.card-title,
.card-description {
  overflow: hidden;
}
