*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{
  border: 15px black solid;
  height: 428px;
  /* width: fit-content; */
}

.row {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    display: flex;  
}

.place {
    background-color: azure;
    /* border: 2px solid rgb(255, 254, 254); */
    height: 50px;
    width: 50px;
}

.row:nth-child(even) .place:nth-child(even){
    background-color: black;
}

.row:nth-child(odd) .place:nth-child(odd){
    background-color: black;
}